<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICalcService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalcService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/calcservice" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ICalcService" contract="CalcProxy.ICalcService"
                name="NetNamedPipeBinding_ICalcService">
                <identity>
                    <userPrincipalName value="Ravina.Gaikawad@gep.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8080/calcservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICalcService" contract="CalcProxy.ICalcService"
                name="NetTcpBinding_ICalcService">
                <identity>
                    <userPrincipalName value="Ravina.Gaikawad@gep.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>