<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ServicesLib.Calc" behaviorConfiguration="metaBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/"/>
            <add baseAddress="net.tcp://localhost:8080/"/>
            <!--<add baseAddress="net.pipe://localhost:8081/"/>-->
          </baseAddresses>
        </host>
       
        <!--Service Endpoints-->
        <endpoint address="calcservice"  binding="netNamedPipeBinding"   contract="ContractsLib.ICalcService"> </endpoint>
        <endpoint address="calcservice"  binding="netTcpBinding"   contract="ContractsLib.ICalcService"></endpoint>
        <!--<endpoint address="calcservice"  binding="basicHttpBinding"   contract="ContractsLib.ICalcService"></endpoint>-->
        
        <!--Metadata Endpoints-->
        <endpoint address="mex"  binding="mexNamedPipeBinding"  contract="IMetadataExchange"> </endpoint>
        <endpoint address="mex"  binding="mexTcpBinding"  contract="IMetadataExchange"> </endpoint>
        <!--<endpoint address="mex"  binding="mexHttpBinding"  contract="IMetadataExchange"> </endpoint>-->
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>