<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDataService">
                    <security>
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.244.110:9999/dataservice" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDataService" contract="DataServiceProxy.IDataService"
                name="WSHttpBinding_IDataService"
                       behaviorConfiguration="ClientEP">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAWkJM5kGXVCH9YQuwPi2M8Aa1NtsgAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhC7cT1HjPKwmkrUyEbuxxReMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwNzExMDcxMTAzWhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlHRVBTZXJ2ZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCyU3BbWXAOPP4MsexKZ+BdD0f9CC8ahLbvZNZOt6ePRMWKtddAGB+gJMb1EATGGh7CtPhvpLo673ce9FT0aQbrklEHhEF8pXaBlXss65qIFZ2LkgDaRRf+WcbeblCl2LjZcCjUT6eNwA4aT0q7gRdmCbUL+S2QvOFUvMV/cKlHNnYXvovRqEwHbpgep3XUFMd4Ywz0bdyib46XRlfUz8Pb9otKptScp5UZAYiSATil3ENaWPlrioHg9TgmyNwpcCyCR3lkavbrLxBsDShOmRH+KwBV0M+B7YQ3/vQOVCG2bnFhw/55QlTPIvR+gQh6kMUZ6kgOMTUm/jeB7A3qiGDxAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAKqjT3ETXatv90VMNMs9LYtfuM0Fg1ePLfGeNUwCxUQHcAfmaMCFOjFVPcKLhF4wCkLS8Hax8lpz13RxXv2m3sg==" />
                </identity>
            </endpoint>
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientEP">
            <clientCredentials>
              <clientCertificate storeLocation="LocalMachine"
                                  storeName="My"
                                  x509FindType="FindBySubjectName"
                                  findValue="GEPClient"/>
              <serviceCertificate>
                <authentication certificateValidationMode="PeerTrust"/>
              </serviceCertificate>
            </clientCredentials>
            
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>