<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="FeedbackDBCon" 
         connectionString="Data Source=(localdb)\Projects;Initial Catalog=CaseStudy;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <!--<bindings />-->
    <!--<client />-->
    
    <services>
      <service name="CaseStudyDALServicesLib.TrainerDAL">

        <endpoint address="mex"
                     binding="mexHttpBinding"
                     contract="IMetadataExchange" />
      </service>
      <service name="CaseStudyDALServicesLib.ClientDAL">
        <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />

      </service>
      <service name="CaseStudyDALServicesLib.Schedule_TrainingDAL">

        <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />

      </service>
      <service name="CaseStudyDALServicesLib.FeedbackDAL">

        <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>